<style>
    /*ADMONITIONS*/
    @font-face {
        font-family: "Octicons";
        src: url("https://raw.githubusercontent.com/gabrielelana/awesome-terminal-fonts/master/fonts/octicons-regular.ttf") format("truetype");
    }

    .admonition {
        margin: 1rem 0;
        padding: 0.6rem 0 0.6rem 1rem;
        border-left: 0.25rem solid;
    }

    .admonition-title {
        margin: 0 0 0.25rem 0;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .admonition> :first-child {
        margin-top: 0;
    }

    .admonition> :last-child {
        margin-bottom: 0;
    }

    .admonition.note {
        border-color: #0969da;
    }

    .admonition.note,
    .admonition.note * {
        color: #0969da;
    }

    .admonition.tip {
        border-color: #1a7f37;
    }

    .admonition.tip,
    .admonition.tip * {
        color: #1a7f37;
    }

    .admonition.important {
        border-color: #8250df;
    }

    .admonition.important,
    .admonition.important * {
        color: #8250df;
    }

    .admonition.warning {
        border-color: #9a6700;
    }

    .admonition.warning,
    .admonition.warning * {
        color: #9a6700;
    }

    .admonition.caution {
        border-color: #cf222e;
    }

    .admonition.caution,
    .admonition.caution * {
        color: #cf222e;
    }

    .admonition-title::before {
        font-family: "Octicons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: inline-block;

        margin-right: 0.5rem;
        font-size: 1.1em;
        line-height: 1;
        transform: translateY(10%);
    }

    .admonition.note>.admonition-title::before {
        content: "\f059";
    }

    .admonition.tip>.admonition-title::before {
        content: "\f0d2";
    }

    .admonition.important>.admonition-title::before {
        content: "\f02b";
    }

    .admonition.warning>.admonition-title::before {
        content: "\f02d";
    }

    .admonition.caution>.admonition-title::before {
        content: "\f08f";
    }
</style>