<style>
    .menu,
    .menu ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .menu li {
        position: relative;
    }

    .menu input+label+ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #3c3c3c;
        border: 1px solid #2b2b2b;
        padding: 1ch;
        z-index: 1000;
    }

    .menu input:checked+label+ul {
        display: block;
    }

    .menu label,
    .menu li {
        color: lightblue;
        text-decoration: underline;
        cursor: pointer;
    }

    .menu ul ul {
        left: 100%;
        top: 0;
    }

    .menu input {
        display: none;
    }
</style>
<ul class="menu">
    <li>
        <input type="checkbox" id="menu-1">
        <label for="menu-1" class="skiptranslate">A文</label>

        <ul>
            <li>
                <div id="google_translate_element"></div>
            </li>
            <li onclick="translateNav()">Use Navigation</li>
        </ul>
    </li>
</ul>